<div class="wrapper">
<h1>Contact Us</h1>
<div class="table">
<form method="get" action "/signup">
sign up for our newsletter!<br>
email: <input type="text" name="email"></input>
<input type="submit"></input>
</form>
</div>

<div class="table">
Address: 66 Store St.<br>
Email: <a href="mailto: manager@store.com">manager@store.com</a><br>
Phone: (215)-555-5555<br>
</div>
</div>
