<div class="wrapper">
<h1>Contact Us</h1>
<div class="table">
  <h2>Store Info</h2>
  Address: 66 Store St.<br>
  E-mail: <a href="mailto: manager@store.com">manager@store.com</a><br>
  Phone: (215)-555-5555<br>
  <hr>
<form method="get" action "/signup">
<h2>Sign Up for our Newsletter!</h2>
Your E-mail: <input type="text" name="email"></input>
<input type="submit"></input>
</form>
</div>
</div>
