<div class = "wrapper">
<h1> One Stop</h1>
<div class = "carousel"></div>



<div class = "boxes">
<div id ="a"> Fresh Foods
    <img src="../GalleryH/produce/grapefruit.jpg">
    <img src="../GalleryH/produce/broccoli.jpg">
    <img src="../GalleryH/bakery/squid_market_fish.jpg">
    <img src="../GalleryH/herbs/salmon_teriyaki.jpg">
</div>

<div id = "b"> Clothes
<img src="../GalleryH/clothes/beads_bracelets.jpg">
<img src="../GalleryH/clothes/scarfs.jpg">
<img src="../GalleryH/clothes/jeans_denim.jpg">
<img src="../GalleryH/clothes/shirts.jpg">

</div>


<div id ="b"> Toiletries</div>
# <img src="../GalleryH/produce/grapefruit.jpg">
# <img src="../GalleryH/produce/broccoli.jpg">
# <img src="../GalleryH/bakery/squid_market_fish.jpg">
# <img src="../GalleryH/herbs/salmon_teriyaki.jpg">
</div>

<div class = "footer">Connect With Us &copy</div>
</div>