<div class = "wrapper">

    <h1> One Stop</h1>

        <div class = "friends">
                <div class="bubbles"></div>
                <div class="prev"></div>
                <div class="next"></div>
        </div>  
              <div class = 'table'> 
                 <div class = "contain">                
                      <li><img src="../GalleryH/fruits_violet_plum.jpg"><a href = "#">Enjoy Fresh Summer fruit</a></li>   
                      <li><img src="../GalleryH/produce/green_bean.jpg"><a href = "#">...And Veggies</a></li>
                      <li><img src="../GalleryH/produce/grapefruit.jpg"></li>    
                      <h2> Shop here for the best Fresh Foods</h2>
                      <li><img src="../GalleryH/made_foods/cheese_food_france.jpg"><a href ="#"> Wheels Of Wonder</a></li>
    
 
                      <h2> Dash By The Grub Hub</h2>
                      <li><img src="../GalleryH/made_foods/pizza_oven.jpg"><a href ="#"> What''s Cooking Today?</a></li>
                      <li><img src="../GalleryH/bakery/squid_market_fish.jpg"><a href ="#"> Exotic...ooooo</a></li>
                      <li><img src="../GalleryH/made_foods/abstract_barbecue.jpg"><a href ="#">Enjoy Hardy Bites</a></li> 
                      <li><img src="../GalleryH/made_foods/canapes_cheese_crackers.jpg"><a href ="#">...And Petite Delights</a></li>


            
                      <li><img src="../GalleryH/made_foods/quark_quark_cream_raspberries.jpg"><a href ="#">Mmmmm...</a></li>
                      <h2> Don''t Forget to Visit Our Pastry Chefs</h2>
                      <li><img src="../GalleryH/bakery/cookie.jpg"><a href ="#">Warm Sweets</a></li>
                      <li><img src="../GalleryH/bakery/baguette.jpg"><a href ="#">Fresh Breads, Savory & || Sweet</a></li>
                      <li><img src="../GalleryH/bakery/stollen_sweets.jpg"></li>



                      <li><img src="../GalleryH/clothes/beads_bracelets.jpg"><a href ="#">Fair Trade Jewelry</a></li
                      <li><img src="../GalleryH/clothes/scarfs.jpg"></li>    
                      <h2> Going Out?... Stop by our Clothing Station to Accessorize</h2>
                      <li><img src="../GalleryH/clothes/jeans_denim.jpg"><a href ="#">We''ve Got Jeans...Denim Jeans :)</a></li>
                      <li><img src="../GalleryH/clothes/shirts.jpg"><a href ="#">And that shirt you were looking for!</a></li>

                      <h2>Pick up all your Toiletries</h2>
                      <li><img src="../GalleryH/bath/essential_oils.jpg"><a href ="#">Aromatic Treats</a></li>
                      <li><img src="../GalleryH/bath/toilet_paper.jpg"><a href ="#">Organic Tissues</a></li>
                      <li><img src="../GalleryH/bath/soap_handmade.jpg"><a href ="#">Handmade Soaps</a></li>
                      <li><img src="../GalleryH/bath/bath_towels.jpg"><a href ="#">Bath Towels</a></li>
                   </div>

                   <div id="shop">              
                         <h2>Shopping</h2>
                        <a href"#">Find A Store</a>
                        <br>
                        <a href"#">Sales Flyers</a>
                        <br>
                        <a href"#">Catering & Online Ordering</a>
                        <br>
                        <a href"#">Gift Cards</a>
                        <br>
                        <a href"#">Store Departments</a>
                        <br>
                        <a href"#">Store Events</a>
                   </div>
            
                   <div id ="about">
                         <h2>About Our Products</h2>
                        <a href"#">Quality Standards</a>
                        <br>
                        <a href"#">Food Safety</a>
                        <br>
                        <a href"#">Organic Farming</a> 
                        <br>
                        <a href"#">GMOs: Your Right to Know</a>
                  </div>
             </div>

                <br>

                <div class = "footer">Connect With Us &copy</div>
                

</div>