<div class = "wrapper"></div>
<h1> One Stop</h1>
<div class = "carousel"></div>


<div class = "contain">
<h2> Shop here for the best Fresh Foods</h2>
<div class = "table"> 

    <li> <img src="../GalleryH/produce/grapefruit.jpg">Enjoy Fresh Summer fruit</li>
    <li> <img src="../GalleryH/produce/broccoli.jpg">...And Veggies </li>
    <li> <img src="../GalleryH/bakery/squid_market_fish.jpg"> </li>
    <li> <img src="../GalleryH/herbs/salmon_teriyaki.jpg"> Dash By The Grub Hub</li>
    
    <h2> Going Out?... Stop by our Clothing Station to accessorize</h2>
    <li><img src="../GalleryH/clothes/beads_bracelets.jpg">Fair Trade Jewelry</li>
    <li><img src="../GalleryH/clothes/scarfs.jpg">Accessories</li>
    <li><img src="../GalleryH/clothes/jeans_denim.jpg">We''ve Got Jeans...Denim Jeans :)</li>
    <li><img src="../GalleryH/clothes/shirts.jpg">And that shirt you were looking for!</li>

    <h2>Pick up all your Toiletries</h2>

    <li><img src="../GalleryH/bath/makeup_brush.jpg"> Treat Your Face</li>
    <li><img src="../GalleryH/bath/toilet_paper.jpg">Organic Tissues</li>
    <li><img src="../GalleryH/bath/soap_handmade.jpg">Handmade Soaps</li>
    <li><img src="../GalleryH/bath/bath_towels.jpg"></li>
   </div>
   </div>





<div class = "footer">Connect With Us &copy</div>

</div>