<div class = "wrapper">
    <h1> One Stop</h1>
    <div class = "carousel"><img src ="../GalleryH/fruits_violet_plum.jpg"</div>
        <div class = "table">
            <h2> Shop here for the best Fresh Foods</h2>

                    <img src="../GalleryH/produce/grapefruit.jpg"><a href="#">Enjoy Fresh Summer fruit</a>
                    <img src="../GalleryH/produce/broccoli.jpg">...And Veggies 
                    <img src="../GalleryH/bakery/squid_market_fish.jpg"> Exotic...ooooo
                    <img src="../GalleryH/herbs/salmon_teriyaki.jpg"> Dash By The Grub Hub
    
 

            <h2> Going Out?... Stop by our Clothing Station to accessorize</h2>
                    <img src="../GalleryH/clothes/beads_bracelets.jpg">Fair Trade Jewelry
                    <img src="../GalleryH/clothes/scarfs.jpg">Accessories
                    <img src="../GalleryH/clothes/jeans_denim.jpg">We''ve Got Jeans...Denim Jeans :)
                    <img src="../GalleryH/clothes/shirts.jpg">And that shirt you were looking for!
 
            <h2>Pick up all your Toiletries</h2>
                    <img src="../GalleryH/bath/makeup_brush.jpg"> Treat Your Face
                    <img src="../GalleryH/bath/toilet_paper.jpg">Organic Tissues
                    <img src="../GalleryH/bath/soap_handmade.jpg">Handmade Soaps
                    <img src="../GalleryH/bath/bath_towels.jpg">
                    
        </div> 
 
            <div id="More"> 

                <h2>Shopping</h2>
                    <a href"#">Find a Store</a>
                        <br>
                    <a href"#">Sales Flyers</a>
                        <br>
                    <a href"#">Catering & Online Ordering</a>
                        <br>
                    <a href"#">Gift Cards</a>
                        <br>
                    <a href"#">Store Departments</a>
                        <br>
                    <a href"#">Store Events</a>

                <hr>

                <h2>About Our Products</h2>
                    <a href"#">Quality Standards</a>
                        <br>
                    <a href"#">Food Safety</a>
                        <br>
                    <a href"#">Organic Farming</a>
                        <br>
                    <a href"#">GMOs: Your Right to Know</a>

            </div>

                <br>

                <div class = "footer">Connect With Us &copy</div>

</div>