<div class = "wrapper">
<h1> One Stop</h1>
<div class = "carousel"></div>



<div class = "boxes">
<div id ="a"> 
<h2>Fresh Foods</h2>
    <img src="../GalleryH/produce/grapefruit.jpg">
    <img src="../GalleryH/produce/broccoli.jpg">
    <img src="../GalleryH/bakery/squid_market_fish.jpg">
    <img src="../GalleryH/herbs/salmon_teriyaki.jpg">
</div>

<div id = "b">
<h2> Clothes</h2>
    <img src="../GalleryH/clothes/beads_bracelets.jpg">
    <img src="../GalleryH/clothes/scarfs.jpg">
    <img src="../GalleryH/clothes/jeans_denim.jpg">
    <img src="../GalleryH/clothes/shirts.jpg">
</div>

<div id ="b">
<h2> Toiletries</h2>
    <img src="../GalleryH/bath/makeup_brush.jpg">
    <img src="../GalleryH/bath/toilet_paper.jpg">
    <img src="../GalleryH/bath/soap_handmade.jpg">
    <img src="../GalleryH/bath/bath_towels.jpg">
 </div>

</div>

<div class = "footer">Connect With Us &copy</div>
</div>