<div class = "wrapper">
<h1> One Stop</h1>
<div class = "carousel"></div>



<div class = "boxes">
<div id ="a"> Fresh Foods
<img src=""
 </div>
<div id = "b"> Clothes</div>
<div id ="b"> Toiletries</div>
</div>

<div class = "footer">Connect With Us &copy</div>
</div>