<div class = "wrapper">

    <h1> One Stop</h1>


<div class = "contain"> 
       
            

                    <li><img src="../GalleryH/produce/grapefruit.jpg"><a href="#">Enjoy Fresh Summer fruit</a></li>
                    <li><img src="../GalleryH/produce/broccoli.jpg">...And Veggies</li> 
                    <li><img src="../GalleryH/bakery/squid_market_fish.jpg"> Exotic...ooooo</li>
                    <li><img src="../GalleryH/herbs/salmon_teriyaki.jpg"> Dash By The Grub Hub</li>
    
 <h2> Shop here for the best Fresh Foods</h2>

            
                    <li><img src="../GalleryH/clothes/beads_bracelets.jpg">Fair Trade Jewelry</li>
                    <li><img src="../GalleryH/clothes/scarfs.jpg">Accessories</li>
                    <h2> Going Out?... Stop by our Clothing Station to accessorize</h2>
                    <li><img src="../GalleryH/clothes/jeans_denim.jpg">We''ve Got Jeans...Denim Jeans :)</li>
                    <li><img src="../GalleryH/clothes/shirts.jpg">And that shirt you were looking for!</li>

            <h2>Pick up all your Toiletries</h2>
                    <li><img src="../GalleryH/bath/makeup_brush.jpg"> Treat Your Face</li>
                    <li><img src="../GalleryH/bath/toilet_paper.jpg">Organic Tissues</li>
                    <li><img src="../GalleryH/bath/soap_handmade.jpg">Handmade Soaps</li>
                    <li><img src="../GalleryH/bath/bath_towels.jpg">Bath Towels</li>
                    
         </div>

           
                   <div id="shop">              
                         <h2>Shopping</h2>
                    <a href"#">Find A Store</a>
                    <br>
                    <a href"#">Sales Flyers</a>
                    <br>
                    <a href"#">Catering & Online Ordering</a>
                    <br>
                    <a href"#">Gift Cards</a>
                    <br>
                    <a href"#">Store Departments</a>
                    <br>
                    <a href"#">Store Events</a>
                </div>
            
            <div id ="about">
                <h2>About Our Products</h2>
                    <a href"#">Quality Standards</a>
                    <br>
                    <a href"#">Food Safety</a>
                    <br>
                    <a href"#">Organic Farming</a> 
                    <br>
                    <a href"#">GMOs: Your Right to Know</a>
                </div>
                
           
           










                
               

                <br>

                <div class = "footer">Connect With Us &copy</div>
                

</div>