<div class = "wrapper">


        <div class = "friends">
                <div class="bubbles"></div>
                <div class="prev"></div>
                <div class="next"></div>
        </div>

        <div class="table">
                <h1> One Stop <h3> Everything You May Need In One Stop</h3></h1>


                   <div id="shop">
                   <hr>
                         <h2>Shopping</h2>
                        <a href"#">Find A Store</a>
                        <br>
                        <a href"#">Sales Flyers</a>
                        <br>
                        <a href"#">Catering & Online Ordering</a>
                        <br>
                        <a href"#">Gift Cards</a>
                        <br>
                        <a href"#">Store Departments</a>
                        <br>
                        <a href"#">Store Events</a>
                   </div>

                   <div id ="about">
                   <hr>
                         <h2>About Our Products</h2>
                        <a href"#">Quality Standards</a>
                        <br>
                        <a href"#">Food Safety</a>
                        <br>
                        <a href"#">Organic Farming</a>
                        <br>
                        <a href"#">GMOs: Your Right to Know</a>
                  </div>


                <br>

        </div>   <div class = "footer">Connect With Us &copy</div>


</div>
