<div class = "wrapper">

    <h1> One Stop</h1>

    <div class = "friends">
            <div class="bubbles"></div>
            <div class="prev"></div>
            <div class="next"></div>
    </div>
<div class = "contain">                
                        
       <h2> Shop here for the best Fresh Foods</h2>
                    <li><img src="../GalleryH/fruits_violet_plum.jpg">Enjoy Fresh Summer fruit</li>   
                    <li><img src="../GalleryH/produce/green_bean.jpg">...And Veggies</li>
                    <li><img src="../GalleryH/produce/grapefruit.jpg"><a href="#"></a></li>
                    <li><img src="../GalleryH/made_foods/cheese_food_france.jpg"> Wheels Of Wonder</li>
    
 
             <h2> Dash By The Grub Hub</h2>
                    <li><img src="../GalleryH/made_foods/pizza_oven.jpg"> What''s Cooking Today?</li>
                   <li><img src="../GalleryH/bakery/squid_market_fish.jpg"> Exotic...ooooo</li>
                   <li><img src="../GalleryH/made_foods/abstract_barbecue.jpg">Enjoy Hardy Bits</li> 
                   <li><img src="../GalleryH/made_foods/canapes_cheese_crackers.jpg">...And Petite Delights</li>


             <h2> Don''t Forget to Visit Our Pastry Chefs</h2>
                      <li><img src="../GalleryH/made_foods/quark_quark_cream_raspberries.jpg">Mmmmm...</li>
                      <li><img src="../GalleryH/bakery/cookie.jpg">Warm Sweets</li>
                      <li><img src="../GalleryH/bakery/baguette.jpg">Fresh Breads, Savory & || Sweet</li>
                     <li><img src="../GalleryH/bakery/stollen_sweets.jpg"></li>


            <h2> Going Out?... Stop by our Clothing Station to Accessorize</h2>
                    <li><img src="../GalleryH/clothes/beads_bracelets.jpg">Fair Trade Jewelry</li
                    <li><img src="../GalleryH/clothes/scarfs.jpg"></li>
                    <li><img src="../GalleryH/clothes/jeans_denim.jpg">We''ve Got Jeans...Denim Jeans :)</li>
                    <li><img src="../GalleryH/clothes/shirts.jpg">And that shirt you were looking for!</li>

            <h2>Pick up all your Toiletries</h2>
                    <li><img src="../GalleryH/bath/essential_oils.jpg"> Aromatic Treats</li>
                    <li><img src="../GalleryH/bath/toilet_paper.jpg">Organic Tissues</li>
                    <li><img src="../GalleryH/bath/soap_handmade.jpg">Handmade Soaps</li>
                    <li><img src="../GalleryH/bath/bath_towels.jpg">Bath Towels</li>


                   

         
         </div>

           
                   <div id="shop">              
                         <h2>Shopping</h2>
                    <a href"#">Find A Store</a>
                    <br>
                    <a href"#">Sales Flyers</a>
                    <br>
                    <a href"#">Catering & Online Ordering</a>
                    <br>
                    <a href"#">Gift Cards</a>
                    <br>
                    <a href"#">Store Departments</a>
                    <br>
                    <a href"#">Store Events</a>
                </div>
            
            <div id ="about">
                <h2>About Our Products</h2>
                    <a href"#">Quality Standards</a>
                    <br>
                    <a href"#">Food Safety</a>
                    <br>
                    <a href"#">Organic Farming</a> 
                    <br>
                    <a href"#">GMOs: Your Right to Know</a>
                </div>
                
           
           










                
               

                <br>

                <div class = "footer">Connect With Us &copy</div>
                

</div>