<!DOCTYPE html>
<html>
<head>
	<title>GProject</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto" rel="stylesheet">
</head>
		<body class="news">
  <header>
    <div class="nav">
      <ul>
        <li class="Home"><a href="/">Home</a></li>
        <li class="Contacts"><a href="/contact">Contact</a></li>
        <li class="Products"><a href="/products">About</a></li>
        <li class="asimpage"><a href="/asimpage">Newsletter</a></li>
      </ul>
    </div>

<%= yield %>

</body>
</html>
