<!DOCTYPE html>
<html>
<head>
	<title>GProject</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/asimpage">Asim Page</a></li>
		</nav>
<%= yield %>

</body>
</html>