<!DOCTYPE html>
<html>
<head>
	<title>GProject</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto" rel="stylesheet">
</head>
<body>


    <div class="nav">
      <ul>
        <li class="Home"><a href="/">Home</a></li>
        <li class="Products"><a href="/products">Products</a></li>
        <li class="asimpage"><a href="/asimpage">Your List</a></li>
            <li class="Contacts"><a href="/contact">Contact</a></li>
      </ul>
    </div>



<%= yield %>

</body>
</html>
