

#shop {
margin-top: 20px;
margin-left:10%;
float:left;
 }

 #shop a{
    vertical-align: middle;
    line-height: 1.6;
    }
    #shop a:hover{
       background-color:$hover-color;
        }
 #about{
    margin-top: 20px;
    margin-left:10%;
    float:left;
 }
 #about a{
    vertical-align: middle;
    line-height: 1.6;
   
    }
    #about a:hover{
        background-color:$hover-color;
         }