$main-font: roboto;
$accent-font: comfortaa;
$font-color:#2c2c54;
$table-color:#34ace0;
$background-color:#f7f1e3;
$border-color: black;
$accent-color: #3BC5A7;
$link-color: #838D93;
$second-link:#ff6348;

