.wrapper{
font-family: $main-font;
margin-left: 10px;
}

body{
  // background-color: $background-color;
  background-image: url("bg2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1024px;
}

h1{
  color: $accent-color;
  font-family: $accent-font;
}

h2{
  color: $accent-color;
  font-family: $accent-font;
  text-shadow: 1px 1px dimgrey;
}

a:link{
  color: $link-color;
  font-family: $main-font;
  text-decoration: none;
}

a:visited{
  color: white;
  font-family:$accent-font;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
  font-family: $main-font;
}
