.wrapper{
font-family: $main-font;
}

body{
  background-color: $background-color;
}

h1{
  color: $accent-color;
  font-family: $accent-font;
}

h2{
  color: $accent-color;
  font-family: $accent-font;
  text-shadow: 1px 1px dimgrey;
}

a:link{
  color: $link-color;
  font-family: $main-font;
  text-decoration: none;
}

a:visited{
  color: white;
  font-family:$accent-font;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
  font-family: $main-font;
}
